* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #131313 ;
}

.logo {
    position: absolute;
    height: auto;
    right: 0px;
    width: 220px;
    top: 20px;
}
.container .heading{
    width:85%;
    margin:auto;
    text-align: center;
}
.container .heading h1{
   color: #FFF225;
   font-size: 50px;
   margin-top: 50px;
}
.wrapper{
    width:85%;
    margin: 50px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    width:50%;
    margin:0px 25px;

}
.content p{
    color:#FAFAFA;
    font-size: 19px;
    line-height: 1.5;
    margin-top: 10px;
}
.image{
    width:70%;
   

}
.image img{
    width:100%;
    height: 400%;

}

@media screen and (max-width: 768px) {

   
    body {
      font-size: 16px; 
    }
  
    /* Adjust logo size and position for mobile */
    .logo {
      width: 70px; 
      top: 10px; 
    }
  
    /* Adjust heading size and margin for mobile */
    .container .heading {
      width: 60%; /
    }
  
    .container .heading h1 {
      font-size: 30px; 
      margin-top: 20px; 
    }
  
    /* Adjust wrapper layout for mobile */
    .wrapper {
      flex-direction: column;
      align-items: center; 
      margin: 20px auto; 
    }
  
    .content,
    .image {
      width: 100%;
      margin: 0; 
    }
  
    .content p {
      font-size: 17px; 
      line-height: 1.3; 
      margin-top: 15px; 
    }
  
    .image img {
      height: auto; 
    }
  }